.body{
  background-image: url("hot.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.center{
  margin-left: 25%;
}

.font{
  font-family: monospace;
}
